@mixin typography($font-family, $font-size, $font-weight, $line-height, $letter-spacing: normal) {
    font-family: $font-family;
    font-size: $font-size;
    font-weight: $font-weight;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
}

@mixin textOverflowInEllipses($numberOfLines) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $numberOfLines;
    -webkit-box-orient: vertical;
    word-break: break-all;
}