@import '../../styles/mixins.scss';

.header {
    height: 80px;
    width: 100%;
    max-width: 1800px;
    background-color: #fff;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_navList {
        list-style-type: none;
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 40px;
        margin: 0 20px;

        &--navItem {
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;
            &>a {
                text-decoration: none;
                color: #5A5A62;
                @include typography('Inter', 16px, 400, 32px);
            }
        }
    }

    &_userSection{
        display: flex;
        align-items:center;
        margin: 0 30px;
        gap: 30px;

        &>img{
            margin-bottom: 10px;
        }
    }
    
}

@media (min-width:1800px){
    .header {
        padding: 2rem 0;
        margin: 0 auto;
    }
}