@import '../../styles/mixins.scss';

.container {
    position: relative;
    display: flex;
    align-items: center;
    width: 360px;
    max-width: 360px;
    height: 40px;
    border-radius: 40px;
    border: 2px solid #DADCE0;
    box-shadow: 0px 0px 8px 0px #38464D40;
    margin: 0 20px;
    padding: 4px 24px;
    gap: 15px;

    &:hover {
        box-shadow: 0px 0px 40px 0px #195BDF66;
        border: 1px solid #333436;
    }

    &:focus-within {
        border: 2px solid #195BDF;
        background: #F3F4F7;
        box-shadow: none;
    }

    &--thunderIcon{
        transform:scale(1.2);
    }

    &--divider {
        border: 1px solid #DADCE0;
        height: 20px;
    }
}

.input {
    flex: 1;
    border: none;
    outline: none;
    color: #9E9E9E;
    background: transparent;
    @include typography('Inter', 14px, 400, 32px);

    &:focus {
        color: #252424;
    }
}

.icon {
    width: 13.71px;
    height: 13.71px;
    margin-right: 8px;
}