.hackathonLayout {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    gap: 30px;
    padding: 0 2rem;
    max-width: 1800px;

    &_mainContainer {
        display: flex;
        flex-direction: column;
        flex: 1;
        padding-right: 25px;
    }

    &>div {
        border-right: 1px solid #EBEBEB;
    }
}

@media (min-width:1800px){
    .hackathonLayout {
        padding: 0;
        margin: 0 auto;
    }
}