@import '../../styles/mixins.scss';

.navigationBarContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
    border-bottom: 2px solid #EBEBEB;
    padding-bottom: 20px;
    margin-top: 20px;

    &_navigationBar {
        display: flex;
        align-items: center;
        gap: 30px;

        &_history {
            color: #252424;
            @include typography('Inter', 18px, 600, 28px);
        }

        &--divider {
            border: 1px solid #CBD8E9;
            height: 24px;
        }

        &_navList {
            display: flex;
            list-style-type: none;
            gap: 24px;

            &>a {
                position: relative;
                text-decoration: none;
                color: #64758B;
                @include typography('Inter', 16px, 400, 21.78px);
            }

            &--navItem {
                cursor: pointer;
            }

            &--divider {
                border-bottom: 2px solid #6366F1;
                top: 48px;
                position: absolute;
                width: 100%;
            }
        }
    }

    &_filters {
        display: flex;
        gap: 16px;
        align-items: center;

        &--divider {
            border: 1px solid #CBD8E9;
            height: 22px;
        }

        &>label {
            color: #64748B;
            @include typography('Inter', 14px, 400, 18px);
        }

        &>select {
            width: 152px;
            height: 34px;
            border-radius: 4px;
            border: 1px solid #EBEBEB;
            background: #FFF;
            color: #6366F1;
            display: flex;
            align-items: center;
            outline: none !important;
            @include typography('Inter', 14px, 500, 18px);
            padding-left: 8px;
            transition: border-color 0.3s, box-shadow 0.3s;

            &:hover {
                border-color: #CBD8E9;
            }

            &:focus {
                border-color: #6366F1;
                box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.2);
            }

            option {
                background: #FFF;
                color: #252424;
                @include typography('Inter', 14px, 500, 18px);
            }
        }
    }
}
